@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.container {
    position: relative; display: flex;
    align-items: center; justify-content: center;
    width: 32rem; height: 20rem;
    background: linear-gradient(60deg, #8E36D6, #D61F76);
    transform: perspective(1000px);
    transform-style: preserve-3d;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.20),
                0 15px 12px rgba(0, 0, 0, 0.15);
    transition: all 180ms ease-out;
}

.container h1 {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    font-family: poppins;
    text-shadow: 0  0 22px rgba(0, 0, 0, 0.6);
    transform: translateZ(40px);
}

.circle {
    position: relative;
    top: 1rem;
    right: 2rem;
}

.circle span {
    display: inline-flex;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.1rem;
    border-radius: 25px;
    background: #fff;
    box-shadow: #ffffff;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.7);
    transform: translateZ(40px);
}